/* form chung */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #fff;
}

.navbar {
  width: 100%;
  padding: 20px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.logo {
  width: 140px;
  height: 32px;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #343A40;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.dropdown-icon {
  width: 14px;
  height: 14px;
  margin-left: 4px;
  stroke: #343A40; /* màu mũi tên */
}

.login-btn {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500; /* SemiBold */
  font-size: 14px;
  width: 104px;
  height: 38px;
  background-color: #475875;
  color: white;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}






.setting {
  padding: 40px 20px;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  width: 990px;
}

h1 {
  font-family: 'IBM Plex Serif', serif;
  font-weight: 500;
  font-size: 52px;
  color: #4D5F81;
  margin-bottom: 20px;
  margin-top: 90px;
} 



.edit-profile {
  display: flex;
  gap: 20px;
  align-items: center;
  font-family: 'IBM Plex Sans', sans-serif;
  justify-content: center; /* Thêm dòng này để căn giữa */
  margin-bottom: 86px;
}

.avatar-box {
  width: 223px;
  height: 223px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
}

.avatar-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.form-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.name-row {
  display: flex;
  gap: 30px;
}

.name-row input {
  width: 210px;
  height: 60px;
  border: 2px solid #4D5F81;
  border-radius: 10px;
  padding: 0 16px;
  font-size: 18px;
}

.username-input {
  width: 451px;
  height: 60px;
  border: 2px solid #4D5F81;
  border-radius: 10px;
  padding: 0 16px;
  font-size: 18px;
}

.save-btn {
  width: 451px;
  height: 60px;
  background-color: #4D5F81;
  color: white;
  font-weight: 500;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.username-box {
  padding: 12px 20px;
  border: 2px solid #3f4a72;
  border-radius: 12px;
  font-size: 16px;
  outline: none;
  color: #3f4a72;
  font-family: inherit;
}

.username-box::placeholder {
  color: #7a7a7a;
}

.save-button {
  background-color: #4d5f81; /* Màu xanh da trời */
  color: white;
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  border-radius: 30px; /* Bo tròn */
  cursor: pointer;
  font-weight: bold;
}

.save-button:hover {
  background-color: #3c4c6a;
}
